<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT page</title>
</head>
<body>
    <header>ABOUT: <span>A place SCHOLARS are identified</span></header>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, aut. Ratione, fugiat ducimus molestiae beatae necessitatibus fuga cum animi perferendis!</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime temporibus officiis reprehenderit iste? Quos animi repudiandae, voluptate ab at nemo tenetur exercitationem dolorum quis a, doloribus dignissimos explicabo quisquam dicta reprehenderit tempora eum. Sequi ipsum neque ut consequuntur eveniet aliquam esse minima qui asperiores rem, dolore ab provident, amet quasi.</p>
</body>
</html>