<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECOMMEND page</title>
</head>
<body>
    <header>RECOMMEND: <span>we currenctly have <%= scholars %> scholars in our portfolio </span></header>
    <h2>Recommended scholars</h2>
    <ul>
        <% for(const scholar of getScholars) { %>
            <li><p><%= scholar.user_name %></p></li>
            <li><p><%= scholar.user_email %></p></li>
            <li><p><%= scholar.user_message %></p></li>
            <hr />
        <% } %>
    </ul>
</body>
</html>